<h1>create account</h1>

<form action="/user/create" method="POST">

	<input type="text" name="name" placeholder="your name">
	<input type="password" name="password" placeholder="your password">

	<input type="submit" value="create account">
</form>