<div class="container">
<div class="jumbotron">
<h1>Home page</h1>
</div>
</div>

<div class="blog-post">
<h2 class="blog-post-title">New feature</h2>
	<p class="blog-post-meta">July 29, 2015 by <a href="#">Antoine</a></p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<ul>
		<li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
		<li>Donec id elit non mi porta gravida at eget metus.</li>
		<li>Nulla vitae elit libero, a pharetra augue.</li>
	</ul>
	<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
	<p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">New feature</h2>
	<p class="blog-post-meta">July 31, 2015 by <a href="#">Antoine</a></p>

	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<ul>
		<li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
		<li>Donec id elit non mi porta gravida at eget metus.</li>
		<li>Nulla vitae elit libero, a pharetra augue.</li>
	</ul>
	<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
	<p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
</div>