<h1>answer a question</h1>

<div id="questionSpot"></div>

<form action="/answer/create" method="POST">

	<input type="text" name="name" placeholder="your name">
	<input type="text" name="content" placeholder="your answer">
	<input type="text" name="numero" placeholder="question number">

	<input type="submit" value="add answer">
</form>

<script>

	var apiContent = new XMLHttpRequest();
	apiContent.open("GET", "http://localhost:1337/question/", false);
	apiContent.send(null);

	var r = JSON.parse(apiContent.response);
	var n = (Math.floor((Math.random() * 100) + 1))%r.length;

	document.getElementById("questionSpot").innerHTML = r[n].question;
</script>
